# =========================
# ENV / SECRETS
# =========================
.env
.env.*
*.env

# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# =========================
# DATABASE
# =========================
*.db
*.sqlite3

# =========================
# LOGS
# =========================
*.log
logs/

# =========================
# NODE / FRONTEND
# =========================
node_modules/
dist/
build/
.next/
out/

# =========================
# IDE / EDITOR
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# CACHE
# =========================
.cache/
.pytest_cache/

# =========================
# MISC
# =========================
*.zip
*.tar.gz
*.rar
#claude
.cluade/