fastapi
uvicorn[standard]
python-multipart
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
email-validator
python-dotenv
PyMuPDF
openai
passlib[bcrypt]
python-jose[cryptography]
reportlab
chromadb
sentence-transformers
pypdf
groq

